*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  font-size: 60%;
  overflow-x: hidden;
}

:root{
  --bg-color: #132e35;
  --second-bg-color: #2d4a53;
  --third-bg-color: #69818d;    
  --main-color: #afb3b7;    
  --text-color: #fff;
  --active-color: #5a636a;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 5%;
  background: var(--bg-color);
  display: flex; 
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo{
  font-size: 3rem;
  color: var(--text-color);
  font-weight: 600;
  cursor: default;
  color: var(--text-color);
}

.navbar a{
  font-size: 2rem;
  color: var(--text-color);
  margin-left: 4rem;
}

.navbar a:hover{
  color: var(--active-color);
}

.navbar a.active{
  background: var(--second-bg-color);
}

section{
  min-height: 100vh;
  padding: 10rem 10% 2rem;
}

.home{
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content h4{
  font-size: 2.5rem;
  font-weight: 700;
}

.home-content h3{
  font-size: 3.5rem;
  font-weight: 800;
  margin-bottom: 3rem;
  color: var(--main-color);
}

.home-content h1{
  font-size: 5.5rem;
  font-weight: 800;
  line-height: 1.5;
}

.home-content p{
  font-size: 2rem;
  max-width: 55vw;
}

.profile img{
  margin: 20px;
  width: 350px;
  height: 60vh;
  border-radius: 50%;
}

.socials a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height:4rem;
  background: var(--main-color);
  color: var(--text-color);
  border: solid var(--main-color) ;
  border-radius: 50%;
  font-size: 3rem;
  margin: 3rem 1.5rem 3rem 0;
}

.socials a:hover{
  box-shadow: 0 0 1rem var(--main-color);
}

.btn{
  display: inline-block;
  padding: 1rem 3rem;
  background: var(--main-color);
  border-radius: 5rem;
  box-shadow: 0 0 1rem var(--active-color);
  font-size: 1.5rem;
  color: black;
  letter-spacing: .1rem;
  font-weight: 600;
}

.btn:hover{
  box-shadow: none;
}

.heading{
  text-align: center;
  font-size: 5rem;
  margin-bottom: 4rem;
}

.projects{
  background: var(--second-bg-color);
}

.projects-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 5rem;
}

.projects-container .projects-box{
  position: relative;
  border-radius: 3rem;
  box-shadow: 0 0 1rem var(--bg-color);
  overflow: hidden;
  display: flex;
  width: 500px;
}

.projects-box img{
  width: 100%;
  height: 350px;
  transition: .3s ease;
}

.projects-box:hover img{
  transform: scale(.95);    
}

.projects-box .projects-layer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, .2), var(--bg-color));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: .5rem;
  transform: translateY(100%);
  transition: .5 ease;
}

.projects-box:hover .projects-layer{
  transform: translateY(0);
}

.projects-layer h4{
  font-size: 4rem;
}

.projects-layer p{
  font-size: 1.5rem;
  margin: .4rem 0 1rem;
}

.projects-layer a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--third-bg-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--text-color);
}

.connect{
  background-color: var(--bg-color);
}

.connect form{
  max-width: 80rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.connect form .input-form{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.connect form .input-form input,
.connect form textarea{
  width: 100%;
  padding: 1.5rem;
  font-size: 2rem;
  color: white;
  background: var(--third-bg-color);
  border-radius: .9rem;
  margin: .5rem 0;
}

::placeholder{
  color: black;
}

.connect form textarea{
  resize: none;
}

.connect form .btn{
  margin-top: 2rem;
  cursor: pointer;
}

.footer{
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--second-bg-color);
  height: 5vh;
  font-size: 20px;
}